<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Journal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Journal_pro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Journal.Properties.Settings>
            <setting name="selected_background_image_index" serializeAs="String">
                <value>1</value>
            </setting>
        </Journal.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Journal_pro.Properties.Settings>
            <setting name="selected_background_image_index" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="company_website" serializeAs="String">
                <value>www.github.com/isaacbyr</value>
            </setting>
            <setting name="developer" serializeAs="String">
                <value>Isaac Byron</value>
            </setting>
            <setting name="User_name" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="user_password" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="last_login" serializeAs="String">
                <value>today</value>
            </setting>
            <setting name="last_memo_id" serializeAs="String">
                <value>0</value>
            </setting>
        </Journal_pro.Properties.Settings>
    </userSettings>
</configuration>